In [ ]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        
        
car = Vehicle(106,20 )
print(car.max_speed, car.mileage)

106 20

In [ ]:
class Vehicle:
    pass

In [ ]:
class Vehicle:

    def __init__(self, name, max_speed, mileage):                
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

In [ ]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 10, 100)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 10000

In [ ]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 13, 96)
print("Total Bus fare is:", School_bus.fare()) 

class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 10, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 9600
Total Bus fare is: 5000